<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="header">
	
		<title th:text="${title}">Blogz!</title>
		
		<link th:href="@{/css/styles.css}" rel="stylesheet"/>
	
		
		<title>Blogz!</title>
	</head>
	<div th:fragment="menu">
        <nav>
            <ul id="user-account"> <!--I added this line -->
                <li><a href="/login">login</a></li> <!--i added this line-->
                <li><a href="/logout">logout</a></li> <!--I added this line -->
            </ul>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">all posts</a></li>
                <li><a href="/blog/newpost">new post</a></li>
            </ul>

        </nav>
    </div>
	
	<p th:fragment="footer">
		Copyright &copy; LaunchCode
		
		
		</p>
</html>

